@page
@using azure_web_app.Pages;
@model IndexModel;
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-3">This is a ASP.NET Core project</h1>
	<a href="https://docs.microsoft.com/aspnet/core" target="_blank">Building Web apps with ASP.NET Core </a>
	<h2 style="margin-top:2.3rem" class="display-5">Whats next</h2>
	<p>This project has Continuous Integration and Continuous Delivery implemented.</p>
	<p>This was done with the help of <a href="https://learn.microsoft.com/en-us/azure/app-service/deploy-github-actions?tabs=applevel" target="_blank"> the azure documentation</a>.</p>
	<p>Read the documentation and check out the repository <a href="https://github.com/MartinbianchoEduardo/azure-web-app" target="_blank">here</a>.</p>
</div>
