@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is a ASP.NET Core project</h1>
    <a href="https://docs.microsoft.com/aspnet/core" target="_blank">Building Web apps with ASP.NET Core </a>
    <h1 style="margin-top:2.3rem" class="display-4">Whats next</h1>
    <p>In the future, this project will have Continuous Integration and Continuous Delivery implemented.</p>
    <p>This will be done with the help of <a href="https://learn.microsoft.com/en-us/azure/app-service/deploy-github-actions?tabs=applevel" target="_blank"> the azure documentation</a>.</p>
</div>
