@page
@using azure_web_app.Pages;
@model IndexModel;
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-3">This is a ASP.NET Core project</h1>
	<a href="https://docs.microsoft.com/aspnet/core" target="_blank">Building Web apps with ASP.NET Core </a>
	<h2 style="margin-top:2.3rem" class="display-5">CI/CD</h2>
	<p>This project has Continuous Integration and Continuous Deployment implemented.</p>
	<p>This means that when a change in the code is made, a series of actions will be executed and this website will be updated automatically.</p>
	<p>This was done with the help of <a href="https://learn.microsoft.com/en-us/azure/app-service/deploy-github-actions?tabs=applevel" target="_blank"> the azure documentation</a>.</p>
	<p>Check out the <a href="/people">People</a> page to see the functionality of the website</p>
	<p>Read this app's documentation and check out the repository <a href="https://github.com/MartinbianchoEduardo/azure-web-app" target="_blank">here</a>.</p>
</div>
