@page
@model azure_web_app.Pages.PeopleModel
@{
	<h1>People</h1>

	<form method="post">
	<input type="number" name="id">
	<input type="text" name="name">
	<input type="number" name="age">
	<button type="submit">Add</button>
	</form>
}
