@page
@using azure_web_app.Models;
@model azure_web_app.Pages.PeopleModel
@{
	<h1 class="mb-4">People</h1>
	<div class="d-flex justify-content-center gap-5 mb-3">
		<form method="post" class="h-25 d-flex justify-content-center gap-5 mb-3">
			<input type="number" name="id" placeholder="Id">
			<input type="text" name="name" placeholder="Name">
			<input type="number" name="age" placeholder="Age">
			<button type="submit" class="btn">Add</button>
		</form>

		<form method="post">
			<button asp-page-handler="ResetList" class="btn-outline-dark">Reset</button>
		</form>
	</div>


	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Age</th>
			</tr>
		</thead>

		<tbody>
			@foreach (Person person in Model.People)
			{
				<tr>
					<td>
						@person.Id
					</td>
					<td>
						@person.Name
					</td>
					<td>
						@person.Age
					</td>
				</tr>
			}
		</tbody>
	</table>
}
